/* ESTRELLAS */
.estrellas {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  .estrellas p {
    text-align: center;
  }

  .estrellas label:hover,
  .estrellas label:hover ~ label {
    color: #ffa500;
  }
  
  .clasificacion  label {
    font-size: 20px;
    color: #808080;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    margin: 20px;
    background-color: #ffffff9f;
    border-radius: 25px;
  }

  .clasificacion input[type="radio"] {
    display: none;
  }
  
  .clasificacion input[type="radio"]:checked ~ label {
    color: #ffa500;
  }

/* CUENTOS */


  .cuento{
    width: 90%;
    max-width: 800px; /* por ejemplo */
    margin: 25px auto;
  }

  .cuento form{
    height:30px;
  }
  
  .cuento h2 {
    text-align: center;
    margin: 0;
    height: 20px;
    color: #ffa500;
    font-size: 33px;
    -webkit-text-stroke: 1px black; /* para navegadores webkit como Chrome y Safari */
  }
  
  
  .boxcuento{
    border: solid;
    padding: 10px;
    border-radius: 20px;
    background-color: #8ccec1;
  }
  
