/* ESTILOS FORMULARIOS */
.contenedor-form {
  max-width: 250px;
  margin: 35px auto 0;
  padding: 0 40px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.titulos-form {
  font-size: 36px;
  margin: 10px 0 0;
  text-align: center;
  color: #2c3e50;
}

.campo {
  margin: 10px 0;
}

.form-log label,
.form-reg label {
  display: block;
  margin-bottom: 0;
  text-align: center;
}

.form-reg input[type="text"],
.form-reg input[type="number"],
.form-reg input[type="email"],
.form-reg input[type="password"],
.form-log input[type="text"],
.form-log input[type="number"],
.form-log input[type="email"],
.form-log input[type="password"] {
  width: 91.5%;
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
}

.campo input:hover {
  box-shadow: 0 0 5px #502ea1;
}


/* BOTON DE INICIO DE SESION O DE REGISTRARSE */
.btn-iniciar button[type="submit"],
.btn-registrarse button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn-iniciar button[type="submit"]:hover,
.btn-registrarse button[type="submit"]:hover {
  background-color: #0069d9;
}

/* APARTADO DE REGISTRO EN INICIO DE SESION */
.registrarse {
  margin: 20px 0 40px;
  text-align: center;
}

.registrarse a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.registrarse p {
  margin-right: 10px;
  margin-bottom: 0;
}

.registrarse a:hover {
  text-decoration: underline;
}

/* APARTADO DE INICIAR SESION DESDE REGISTRO*/
.iniciar-sesion {
  margin: 20px 0 40px;
  text-align: center;
}

.iniciar-sesion a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.iniciar-sesion p {
  margin-right: 10px;
  margin-bottom: 0;
}

.iniciar-sesion a:hover {
  text-decoration: underline;
}