/* PUNTUACION DE CUENTO (ESTRELLAS) */
.estrellas {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
/* ESTILO DE ESTRELLAS label*/
.clasificacion label {
  font-size: 20px;
  color: #808080;
  cursor: pointer;
}
/* HOVER DE ESTRELLAS */
.clasificacion label:hover,
.clasificacion label:hover ~ label,
.clasificacion input[type="radio"]:checked ~ label {
  color: #ffa500;
}

/* ESTILO DE ESTRELLAS*/
.clasificacion {
  direction: rtl;
  margin: 20px;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 25px;
}
/*  HOVER ESTILO DE ESTRELLAS */
.clasificacion:hover {
  box-shadow: 0 0 8px #81c700;
}
/* QUITAR RADIO A ESTRELLAS */
.clasificacion input[type="radio"] {
  display: none;
}

/* CUENTOS */
/* CONTENEDOR GENERAL DE CUENTO */
.cuento {
  width: 90%;
  max-width: 800px;
  margin: 25px auto;
}
/* SEPARACION DE CONTENEDOR CUENTO Y ESTRELLAS */
.cuento form {
  height: 35px;
}
/* TITULO DE CUENTO */
.cuento h2 {
  text-align: center;
  margin: 0;
  height: 30px;
  color: #ffa500;
  font-size: 40px;
  -webkit-text-stroke: 2px black;
}
/* CONTENEDOR DE CUENTO */
.boxcuento {
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
  background-color: #8ccec1;
}
