/* ESTILOS HTML */
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTILOS DE BODY */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff url(imagenes/Castillo-fondo.jpg) repeat;
  background-size: cover;
  color: #555555;
}

/* MENU DE NAVEGACION */
.navbar {
  background-color: #2980b9;
  text-align: center;
}

/* FORMATO MENU DE NAVEGACION */
.menu-bar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* PROPORCIONES DE MENU DE NAVEGACION */
.menu-bar li {
  flex-grow: 1;
}

/* HOVER DE MENU DE NAVEGACION */
.menu-bar li:hover {
  background-color: #684d4d52;
  cursor: pointer;
}

/* BOTON DE INICIAR SESION */
.iniciarsesion {
  background-color: #ff6348;
}

/* HOVER DE BOTON DE INICIAR SESION */

.iniciarsesion:hover {
  background-color: rgba(104, 77, 77, 0.32);
}

/* ESTILO DE MENU DE NAVEGACION */
.menu-bar a {
  color: #fff;
  display: block;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid black;
  border-right: 0;
}

/* MEDIAQUERY TAMAÑO ADAPTATIVO DE MENU DE NAVEGACION */
@media screen and (max-width: 600px) {
  .menu-bar,
  .perfil {
    flex-direction: column;
  }
}

/* INICIO */

/* EXPLICACIÓN DE INICIO */

.explicacion-inicio {
  border: solid;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 35px;
  border-radius: 25px;
  background-color: #8ccec1;
}

/* TITULO DE EXPLICACIÓN DE INICIO */
.explicacion-inicio h1 {
  text-align: center;
}

/* Estilos para el formulario de crear cuento */
.escribircuento form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* PERFIL ESTILOS */

/* CONTENEDOR DE PERFIL */
.perfil {
  margin-top: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  text-align: center;
  padding: 20px;
  background-color: #ffffffce;
  border-radius: 15%;
}
/* IMAGEN DE PERFIL */
.imagen-perfil {
  width: 50%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 20px;
}
/* NOMBRE DE USUARIO */
.name-user,
.email-user,
.fecha-user {
  margin-top: 0;
  margin-bottom: 15px;
}
/* BOTON CERRAR SESION EN PERFIL */
.btn-cerrar-sesion {
  background-color: #2980b9;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}
/* HOVER BOTON CERRAR SESION */
.btn-cerrar-sesion:hover {
  background-color: #154360;
}

/* FOOTER */
footer{
  text-align: center;
  background-color: #555555;
  color: #ffffff;
  height: 50px;
  padding: 5px;
  margin-top: 50px;
}

footer a{
  font-size: 20px;
  color: #2980b9;
}